/*------Common css-------*/
/* ======================== Header =========================*/
#loading {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background: #F1F2F3 url("../image/preloader/DualRing.gif") no-repeat center;
  z-index: 9999;
}

header .navbar {
  background: white;
  border-top: 2px solid #006eff;
  border-bottom: 2px solid #006eff;
  -webkit-box-shadow: 1px 1px 15px -1px #000;
          box-shadow: 1px 1px 15px -1px #000;
}

header .navbar .logo {
  color: #006eff;
  font-family: "Montserrat", sans-serif;
  font-size: 35px;
}

header .navbar .logo:hover {
  color: #ffff;
}

header .navbar .nav-item .nav-link {
  margin-left: 10px;
  color: #000;
  font-size: 15px;
}

header .navbar .nav-item .nav-link:hover {
  color: #006eff;
}

/*======================= Header End ======================= */
/*========================= Slider =========================*/
#myCarousel .carousel-icon:hover {
  background-color: #006eff;
  padding: 25px;
  border-radius: 100%;
}

.carousel-img1 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../image/banner/banner3.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../image/banner/banner3.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
}

.carousel-img2 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../image/banner/banner6.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../image/banner/banner6.jpg);
  background-position-x: center;
  background-repeat: no-repeat;
}

.carousel-img3 {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)), to(rgba(0, 0, 0, 0.6))), url(../image/banner/myimage.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../image/banner/myimage.jpg);
  background-position: center center;
  background-repeat: no-repeat;
}

.carousel-item {
  height: 563px;
}

.carousel-item .carousel-caption h3 {
  color: #006eff;
  font-family: "Montserrat", sans-serif;
  font-size: 30pt;
}

.carousel-item .carousel-caption p {
  font-style: "Oxygen", sans-serif;
  color: #ffff;
}

.carousel-item .carousel-caption a i {
  border: 2px solid #ffff;
  padding: 10px 10px;
  border-radius: 2rem;
  margin-right: 15px;
  color: #ffff;
}

.carousel-item .carousel-caption a i:hover {
  background: #006eff;
}

/* ====================== End Slider ========================*/
/*======================= Start About========================*/
#about {
  background: rgba(128, 128, 128, 0.445);
  padding: 100px 0 !important;
}

#about h1 {
  font-family: "Montserrat", sans-serif;
}

#about h4 {
  font-family: "Oxygen", sans-serif;
}

#about .profile-2 {
  width: 390px;
}

#about .btn {
  margin-left: 0 !important;
}

#about .btn-1 {
  background: #006eff;
  color: #ffff;
}

#about .btn-1:hover {
  border: 1px solid #006eff;
  color: #006eff;
  background: transparent;
}

#about .btn-2:hover {
  border: 1px solid black;
  color: black;
  background: transparent;
}

/*======================== End About ======================== */
/*======================== Start Lif e======================== */
#life {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.8))), url(../image/banner/banner6.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.8) rgba(0, 0, 0, 0.8)), url(../image/banner/banner6.jpg);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

#life .heading h1 {
  font-family: "Montserrat", sans-serif;
  color: #006eff;
}

#life .heading p {
  font-style: italic;
  color: #ffff;
}

#life .card {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.6)));
  background: linear-gradient(rgba(0, 0, 0, 0.6));
  color: #ffff;
  -webkit-box-shadow: 1px 1px 5px 1px #ffff;
          box-shadow: 1px 1px 5px 1px #ffff;
  padding-top: 10px;
}

#life .card i {
  font-size: 50px;
  margin-bottom: 5px;
}

#life .card h1 {
  font-family: "Montserrat", sans-serif;
  color: #006eff;
}

#life .card p {
  font-family: "Oxygen", sans-serif;
}

/*========================== End Life========================== */
/*========================== Start Works========================== */
#works {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.7)), to(rgba(0, 0, 0, 0.7))), url(../image/banner/workbanner2.jpg);
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../image/banner/workbanner2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

#works h2 {
  color: #006eff;
  font-family: "Montserrat", sans-serif;
}

#works p {
  color: #afafaf;
  font-style: italic;
}

#works img {
  -webkit-transition: -webkit-transform 2s;
  transition: -webkit-transform 2s;
  transition: transform 2s;
  transition: transform 2s, -webkit-transform 2s;
}

#works img:hover {
  -webkit-transform: rotateZ(360deg);
          transform: rotateZ(360deg);
}

/*============================ End Works ============================  */
/*============================ Start youtube ============================  */
#youtube h1 {
  color: #006eff;
  font-family: "Montserrat", sans-serif;
}

#youtube p {
  font-family: "Oxygen", sans-serif;
  font-style: italic;
}

#youtube .vedioboxsingel {
  border: 4px solid #006eff;
}

/*=============================== End youtube =============================== */
/*=============================== start invite =============================== */
#invite h1 {
  color: #006eff;
  font-family: "Montserrat", sans-serif;
}

#invite .contact-info-box {
  position: relative;
}

#invite .contact-info-box i {
  font-size: 35px;
  background: #fff;
  padding: 15px;
  border: 1px solid rgba(155, 155, 155, 0.671);
  width: 70px;
  height: 70px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  position: absolute;
  margin-top: -40px;
  margin-left: -35px;
}

#invite .contact-info-box .info-box {
  border: 1px solid rgba(155, 155, 155, 0.671);
  text-align: center;
  background: #f6f6f6;
  padding: 40px 40px 30px;
}

#invite .contact-info-box .info-box .td-none {
  text-decoration: none;
  color: #000;
}

/*=============================== End invite =============================== */
/*=============================== Start massage =============================== */
#massage {
  background: url(../image/banner/foooter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

#massage form h1 {
  font-family: "Montserrat", sans-serif;
}

#massage form .input {
  background: none;
  color: #ffff;
}

#massage form .btn {
  background-color: #006eff;
  border: 1px solid #006eff;
}

#massage form .btn:hover {
  border: 2px solid #006eff;
  background: none;
  color: #006eff;
}

#massage iframe {
  border: 4px solid #006eff;
}

/*================================ End massag e================================ */
/*================================ Start Footer ================================ */
footer {
  background: #000;
  text-align: center;
}

footer p {
  color: #848484;
  font-weight: normal;
  font-family: "Oxygen", sans-serif;
  font-size: 20px;
}

footer p a {
  color: #006eff;
}

/*================================== End Footer================================== */
/*================================== @ media Quary ==================================  */
@media (max-width: 575px) {
  header .navbar .logo img {
    height: 47px;
    width: 116px;
  }
}

@media (max-width: 767px) {
  header .nav-link {
    margin-left: 0 !important;
  }
  .carousel .carousel-caption h3 {
    font-size: 20px;
  }
  .carousel .carousel-caption p {
    font-size: 10px;
  }
  .carousel .carousel-caption a {
    font-size: 10px;
  }
  .carousel .carousel-caption a i {
    margin-right: auto;
  }
}

@media (max-width: 575px) {
  .carousel .carousel-caption h3 {
    font-size: 14px;
  }
  .carousel .carousel-caption p {
    font-size: 7px;
  }
  .carousel .carousel-caption a {
    font-size: 10px;
  }
  .carousel .carousel-caption a i {
    margin-right: auto;
  }
}

@media (max-width: 767px) {
  #about h1 {
    font-size: 30px;
  }
  #about h4 {
    font-size: 17px;
  }
}

@media (max-width: 575px) {
  #about .btn {
    -webkit-transform: translateX(15px);
            transform: translateX(15px);
  }
  #about .profile-2 {
    text-align: center;
  }
}

@media (max-width: 767px) {
  #life .card-col {
    margin-top: 10px;
  }
}

@media (max-width: 575px) {
  .form {
    width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 575px) {
  footer p {
    font-size: 12px;
  }
}
/*# sourceMappingURL=style.css.map */