body{background: url(back2.jpg);
padding: 10px;
margin: 10px;
    margin-top: 5%;
background-size: cover;
background-position: center;
}
h1{margin-left: 500px;
color: whitesmoke;}

.normal{ 
    margin-left: 46%;}

.normal input[class="dis"]{background-color: yellow;
    outline: none;
    color: black;
    width: 215px;
    height: 40px; 
    border: none;
    font-size: 30;
    font-family: 'Pacifico';
    
    }

.buttom input {color: black;
font-size: 200%;
width: 50px;
border-bottom-color: black;
    border-width: 3px;
border-radius: 50%;}

